#pied {	
	background-color: #6ac4a7;
	margin-top: 53px;
    text-align: center;
    overflow: auto;
    padding-top:11px;
    border:solid 1px;
    width:100%;
}
.dcw {
  position: relative;
  float: right;
  bottom: 60px;
  color: #f1c40f;  
}
.dcw:visited {
  color: #f1c40f;
}
 