#Identification {
border:solid 1px black;
text-align: center;
width: 510px;
color:midnightblue;
font-family:verdana;
}
.input-group mb-2 {
	margin: 50px;
}

textarea {
	width: 450px;
	height: 200px;	
}
h1 {
	color:blue;
	text-align: center;
}

#etoile {
	color:red;
}


