body {
	background-color: #E1E4E6;
}
#Identification {
border:solid 1px black;
padding:20px;
width:28%;
height: 50%;
color:midnightblue;
font-family:verdana;
}
textarea {
	width: 350px;
	height: 200px;
	resize: auto;
	cursor: SE-Resize;
}
