h1 {
	text-align: center;
}

#Formulaire {
	margin: 0 auto 0 auto;
	width: 60%;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 150px;
    cursor: pointer;
}
#formAnn {
	background-color: #8C8C8C;
	border-radius: 15px;
	border:2px solid #002423;
}