body {
	background-color: #E1E4E6;
}
#Identification {
border:solid 1px black;
padding:10px;
width:80%;
height: 50%;
color:midnightblue;
font-family:verdana;
}
textarea {
	width: 450px;
	height: 200px;		
	cursor: SE-Resize;
}
#contact {
	margin-left: 100px;
}

