body {
	color: #002423;
}
button {
	background-color: #002423;
	color: #fff;
	border: 2px solid #002423;
}

button:hover {
	background-color: #003536;
	color: #fff;
	border: 2px solid #002423;
}
footer {
  bottom: 0;
  width: 100%;
}
