.navbar, .navbar-expand-lg, .navbar-light {
	position: fixed;
	width: 100%;
	z-index: 20000;
}

button {
	margin-left: 5%;
}

nav ul li a{
	border-radius: 7px;	
}

.navbar-light .navbar-nav .nav-link {
color: #FFF;
}

nav ul li a:hover {
background-color: #00ccc5;
text-decoration: none;

}

.navbar-brand {
	padding-right: 6px;
	padding-left: 6px;
	margin-right: 4%;
	margin-left: 5px;
}

.navbar-light .navbar-brand {
    color: #fff;
}
.nav-link {
	margin-left: 5px;
}

.nav-link propos {
	margin-left: 10px;
}

.hr {
  width: 100%; 
  border-top: 2px solid #FFF;
}

.perso {
 
	margin: left 0%;
	padding:auto;
	/*text-align:center;*/
    border: 2px solid black;
    color:white; 
     
     animation: colorchange 15s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
     -webkit-animation: colorchange 15s; /* Chrome and Safari */

     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
   }

 @keyframes colorchange
  {
   0%   {background: #002423;}
   20%   {background: #003331;}
   40%   {background: #004d4a;}
   60%  {background: #004d4a;}
   80%  {background: #003331;}
   100% {background: #002423;}
 }
 @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
 
 {
   0%   {background: #002423;}
   20%   {background: #003331;}
   40%   {background: #004d4a;}
   60%  {background: #004d4a;}
   80%  {background: #003331;}
   100% {background: #002423;}
 }

    

.btn-outline-dark {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border: none;
}

.btn-outline-dark:hover {
	background-color: #00ccc5;
}