.navbar, .navbar-expand-lg, .navbar-light {
	position: fixed;
	width: 100%;
	z-index: 20000;
}

button {
	margin-left: 5%;
}

nav ul li a{
	border-radius: 7px;	
}

nav ul li a:hover {
background-color: #00BDB9;
text-decoration: none;

}

.navbar-brand {
	padding-right: 6px;
	padding-left: 6px;
	margin-right: 4%;
	margin-left: 5px;
}

.navbar-light .navbar-brand {
    color: #fff;
}
.nav-link {
	margin-left: 5px;
}

.nav-link propos {
	margin-left: 10px;
}

.perso {
    background-color: #003635;

}
.btn-outline-dark {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
}