* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Sans-Serif;
  color: #7f8c8d
}

body {
  height: 100%;
  background-color: #003635;
  color: #fff;
}

.parallax {
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bgimg1 {
  background-image: url("../img/photo1.jpg");
  height: 500px;
  min-width: 100%;
}

.bgimg2 {
  background-image: url("../img/photo2.jpg");
  height: 500px;
}

.bgimg3 {
  background-image: url("../img/photo3.jpg");
  height: 500px;
}
.bgimg4 {
  background-image: url("../img/photo4.jpg");
  height: 500px;
}
.bgimg5 {
  background-image: url("../img/photo5.jpg");
  height: 500px;
}

.heading {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 45%;
}

.title {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  padding: 15px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 0.8;
}

.text {
  padding: 50px;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
}

p {
  text-align: center;
}

/*#bottom {
    padding-top: 3%;
}*/
