{% block css %}
	<link href="../css/alerte.css" media="screen" rel="stylesheet" type="text/css" />	
{% endblock %}

<div class="barre_info">
	<p class="p_barre_info_left">
		<a href="">Créer une alerte email</a>
	</p>

	<div id="bloc_info_right">
		<p class="p_barre_info_right"></p>
	</div>
</div>

<div class="bloc_center">
	<div class="middle_bloc_center">
		<form action="" id="corps" method="post">
			<p>
				<input type="text" id="email" class="av_input" name="email" placeholder="Votre adresse email" value="" />
			</p>

			<div>
				<p>
					<select id="form_dep" name="reg" class="select_form">
						<option selected>Choisir...</option>

							{% for region in regions|keys %}
								<option value="regi{{ reg }}">{{ region }}</option>
								{% set reg = reg + 1 %}
							{% endfor %}
					</select>
				</p>
			</div>

			<p>
				<select id="options" name="cat" class="select_form">
					<option selected>Choisir...</option>
					{% for categorys in category %}
						<option value="category{{ val }}">{{ categorys }}</option>
						{% set val = val + 1 %}
					{% endfor %}
				</select>
			</p>

			<p><input type="text" id="word1" class="av_input" name="word1" placeholder="Mot clé n°1" value="" /></p>
			<p><input type="text" id="word2" class="av_input" name="word2" placeholder="Mot clé n°2" value="" /></p>
			<p><input type="text" id="word3" class="av_input" name="word3" placeholder="Mot clé n°3" value="" /></p>
			<p><input type="submit" class="bouton_form" value="Valider"/></p>
		</form>
	</div>
</div>
		