{% extends "layout.html.twig" %}
{% block css %}
	<link href="../css/alerte.css" media="screen" rel="stylesheet" type="text/css" />	
{% endblock %}

{% block body %}
<form method="get" id="menu_recherche" action="#">
	<input type="hidden" name="tri" value=""/>
	<input type="text" class="input_recherche" name="keywords" placeholder="Tapez votre recherche" value="" />
	
	<select id="dep" name="reg" class="select_recherche">
			<option selected>La région</option>

					{% for region in regions|keys %}
						<option value="regi{{ reg }}">{{ region }}</option>
						{% set reg = reg + 1 %}
					{% endfor %}
	</select>
	
	<input type="text" class="input_recherche" name="zip_code" placeholder="Code postal (ex:61000)" value="" />
	
	<select id="opt" name="cat" class="select_recherche">
		<option selected>La catégorie</option>
		
					{% for categorys in category %}
						<option value="category{{ val }}">{{ categorys }}</option>
						{% set val = val + 1 %}
					{% endfor %}
	</select>
	<input class="bouton_search" type="submit" value="Lancer la recherche" />
</form>
{% endblock %}
