<div class="row">
	<div class="col-2 col-sm-2"></div>
	<div class="col-4 col-sm-4 container">
		<div id="francemap" style="width: 500px; height: 500px;"></div>
	</div>

	<div class="col-4 col-sm-4 container">
		<ul id="regions_list">
			{% for region in regions|keys %}
				<li><a href="{{ path('annonces') }}?tri=&amp;keywords=&amp;reg={{ region }}&amp;zip_code=&amp;cat=Choisir...">{{ region }}</a></li>										
			{% endfor %}
		</ul>
	</div>
</div>

