<div class="row">
<div class="col-2 col-sm-2"></div>
<div class="col-4 col-sm-4 container">
<div id="francemap" style="width: 500px; height: 500px;"></div>
</div>
<div class="col-4 col-sm-4 container">
<ul id="regions_list">
<li><a onmouseclick="MapReg(1);" href="Petites-annonces-1-Alsace.htm">Alsace</a></li>
<li><a onmouseclick="MapReg(2);" href="Petites-annonces-2-Aquitaine.htm">Aquitaine</a></li>
<li><a onmouseclick="MapReg(3);" href="Petites-annonces-3-Auvergne.htm">Auvergne</a></li>
<li><a onmouseclick="MapReg(4);" href="Petites-annonces-4-Basse-Normandie.htm">Basse Normandie</a></li>
<li><a onmouseclick="MapReg(5);" href="Petites-annonces-5-Bourgogne.htm">Bourgogne</a></li>
<li><a onmouseclick="MapReg(6);" href="Petites-annonces-6-Bretagne.htm">Bretagne</a></li>
<li><a onmouseclick="MapReg(7);" href="Petites-annonces-7-Centre.htm">Centre</a></li>
<li><a onmouseclick="MapReg(8);" href="Petites-annonces-8-Champagne-Ardenne.htm">Champagne Ardenne</a></li>
<li><a onmouseclick="MapReg(9);" href="Petites-annonces-9-Corse.htm">Corse</a></li>
<li><a onmouseclick="MapReg(10);" href="Petites-annonces-10-Franche-Comte.htm">Franche Comté</a></li>
<li><a onmouseclick="MapReg(11);" href="Petites-annonces-11-Haute-Normandie.htm">Haute Normandie</a></li>
<li><a onmouseclick="MapReg(12);" href="Petites-annonces-12-Ile-de-France.htm">Ile de France</a></li>
<li><a onmouseclick="MapReg(13);" href="Petites-annonces-13-Languedoc-Roussillon.htm">Languedoc Roussillon</a></li>
<li><a onmouseclick="MapReg(14);" href="Petites-annonces-14-Limousin.htm">Limousin</a></li>
<li><a onmouseclick="MapReg(15);" href="Petites-annonces-15-Lorraine.htm">Lorraine</a></li>
<li><a onmouseclick="MapReg(16);" href="Petites-annonces-16-Midi-Pyrenees.htm">Midi Pyrenees</a></li>
<li><a onmouseclick="MapReg(17);" href="Petites-annonces-17-Nord-Pas-de-Calais.htm">Nord Pas de Calais</a></li>
<li><a onmouseclick="MapReg(18);" href="Petites-annonces-18-Pays-de-la-Loire.htm">Pays de la Loire</a></li>
<li><a onmouseclick="MapReg(19);" href="Petites-annonces-19-Picardie.htm">Picardie</a></li>
<li><a onmouseclick="MapReg(20);" href="Petites-annonces-20-Poitou-Charentes.htm">Poitou Charentes</a></li>
<li><a onmouseclick="MapReg(21);" href="Petites-annonces-21-Provence-Alpes-Cote-Azur.htm">Provence Alpes Cote Azur</a></li>
<li><a onmouseclick="MapReg(22);" href="Petites-annonces-22-Rhone-Alpes.htm">Rhone Alpes</a></li>
<li><a onmouseclick="MapReg(23);" href="Petites-annonces-23-Guadeloupe.htm">Guadeloupe</a></li>
<li><a onmouseclick="MapReg(24);" href="Petites-annonces-24-Martinique.htm">Martinique</a></li>
<li><a onmouseclick="MapReg(25);" href="Petites-annonces-25-Guyane.htm">Guyane</a></li>
<li><a onmouseclick="MapReg(26);" href="Petites-annonces-26-Reunion.htm">Réunion</a></li>
</ul>
</div>
</div>