{% extends "layout.html.twig" %}
{% block css %}
	<link href="../css/congrulation.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

  <h1 class="jumbotron">{{ userName }}, tu es bien connecté(e)!! </h1>
  <div class="youpi">
  <img src="img/reussie.jpg" alt="youpi"/>
  </div>

{% endblock %}     
 