{% block css %}
<link href="../css/footer.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

<footer>
	<div id="pied"><p>Copyright©Le Bon Eleveur - Tous droits réservés<br/>
		<a href="{{ path('formulaireContact') }}" target="_blank">Nous contacter !</a><br>
		<a href="https://www.w3schools.com/" target="_blank">Voulez-vous apprendre à coder ?</a><br>
		<a href="http://www.wf3.fr/" target="_blank">dcw@2017-2018</a>
	</div>
</footer>