{% block css %}
	<link href="../css/footer.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

<footer>
	<div id="pied">©Le Bon Eleveur|Tous droits réservés|<a href="{{ path('formulaireContact') }}">Nous contacter</a><a href="{{ path('formulaireContact') }}">|Mention légales|</a>
		
		
	</div>
</footer>