{% block css %}
	<link href="../css/footer.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

<footer>
	<div id="pied"><a href="{{ path('formulaireContact') }}">Nous contacter !</a><br>
		<p>©Le Bon Eleveur - Tous droits réservés<br/>
		
		
	</div>
</footer>