{% extends "layout.html.twig" %}

{% block css %}
<link href="../css/formulaireContact.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<form>
<div align="center">
	<h1>Formulaire de contact</h1><br>
	<form action="view/action.php" target="blank" method="post">
		<fieldset id="Identification">
			<legend><strong><h3>Identification</h3></strong></legend>
			<strong>Prénom :</strong><br>
			<input type="text" name="prenom" value="" placeholder="Votre prénom">
			<br>
			<strong>Nom :</strong><br>
			<input type="text" name="nom" value="" placeholder="Votre nom">
			<br>			
			<strong>Adresse e-mail :</strong><br>			
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>        
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
      </div>
    </div>
		</fieldset>
		<br>			
		<textarea name="message" placeholder="Veuillez entrer votre message ..."></textarea>		
		<br>		
		<button type="submit" class="btn btn-primary">Envoyer</button><br>
	</form>
{% endblock %}



