{% extends "layout.html.twig" %}
{% block css %}
	<link href="../css/formulaireAnnonce.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div id="formAnn">

	{% if errors is defined  %}

    	{% for error in errors %}
      		<p>{{error}} </p>
    	{% endfor %}
  
  	{% endif %}

	<h1>Rentrez votre annonce</h1> <br>
	<div class="container-fluid" id="Formulaire">
		<form method="post" action="#" enctype="multipart/form-data">
			<div class="form-group">
				<label for="formGroupExampleInput">Titre de l'annonce :</label>
				<input type="text" class="form-control" name="title" id="formGroupExampleInput" placeholder="Entrez votre titre">
			</div>

			<div class="col-auto my-1">
				<label class="mr-sm-2" for="inlineFormCustomSelect">Catégorie :</label>
				<select class="custom-select mr-sm-2" name="category" id="inlineFormCustomSelect">
					<option selected>Choisir...</option>
					{% for categorys in category %}
						<option value="{{ categorys }}">{{ categorys }}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="exampleFormControlTextarea1">Texte de l'annonce :</label>
				<textarea class="form-control" name="textAnnonce" id="exampleFormControlTextarea1" rows="5" cols="20" placeholder="Tapez votre annonce..."></textarea>
			</div>

<!-- .......................................A AMELIORER .................................................................. -->
			
			<div id="image-upload" class="image-upload">

    			<label for="1-file-input">
        			<img src="../img/plus.png"/ id="1-file-input-img">
    			</label>
   		 		<input type="file" name="fileToUpload[]" id="1-file-input" class="profile-img" />

   		 		<label for="2-file-input">
   		 							<img src="../img/plus.png"/ id="2-file-input-img">
   		 						</label>
   		 		<input type="file" name="fileToUpload[]" id="2-file-input" class="profile-img" />
   		 		
   		 						<label for="3-file-input">
   		 							<img src="../img/plus.png"/ id="3-file-input-img">
   		 						</label>
   		 		<input type="file" name="fileToUpload[]" id="3-file-input" class="profile-img" />
   		 		
   		 						<label for="4-file-input">
   		 							<img src="../img/plus.png"/ id="4-file-input-img">
   		 						</label>
   		 		<input type="file" name="fileToUpload[]" id="4-file-input" class="profile-img" />
   		 		
   		 						<label for="5-file-input">
   		 							<img src="../img/plus.png"/ id="5-file-input-img">
   		 						</label>
   		 		<input type="file" name="fileToUpload[]" id="5-file-input" class="profile-img" />
			</div>
		
<!-- .................................................................................................................... -->

			<div class="form-group">
				<label for="formGroupExampleInput">Prix :</label>
				<input type="text" class="form-control" name="price" id="formGroupExampleInput" placeholder="Entrez votre prix">
			</div>
			
			<div class="col-auto my-1">
				<button type="submit" class="btn btn-success">Mise en ligne</button>
			</div>
	</div>

				<!-- <p id="debug">debug</p> -->
		</form>
</div>		
		<script type="text/javascript">

			var	i = 1;
			
			function readURL(input, id) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					var profileImgTag = '#' + id + '-img';
					console.log(profileImgTag);
					reader.onload = function (e) { $(profileImgTag).attr('src', e.target.result); }
					reader.readAsDataURL(input.files[0]);
					/*if (i < 1) {
						i++;
						document.getElementById('image-upload').innerHTML += 
						'<label for="'+i+'-file-input">'+
							'<img src="../img/plus.png"/ id="'+i+'-file-input-img">'+
						'</label>'+
						'<input type="file" name="fileToUpload[]" id="'+i+'-file-input" class="profile-img" />';
						$(".profile-img").change(function(){ readURL(this, this.id); });
					}
					console.log(i);*/
				}
			}
			$(".profile-img").change(function(){ readURL(this, this.id); });
			$(".profile-img").click(function(){ console.log(this.id+'-img'); document.getElementById(this.id+'-img').src = "../img/plus.png"});

		</script>
	</div>
{% endblock %}