{% extends "layout.html.twig" %}
{% block css %}
	<link href="../css/formulaireAnnonce.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<h1>Rentrez votre annonce</h1> <br>
	<div class="container-fluid" id="Formulaire">
		<form method="post" action="#" enctype="multipart/form-data">
			<div class="form-group">
				<label for="formGroupExampleInput">Titre de l'annonce :</label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entrez votre titre">
			</div>

			<div class="col-auto my-1">
				<label class="mr-sm-2" for="inlineFormCustomSelect">Catégorie :</label>
				<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
					<option selected>Choisir...</option>
					{% for categorys in category %}
						<option value="category{{ val }}">{{ categorys }}</option>
						{% set val = val + 1 %}
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="exampleFormControlTextarea1">Texte de l'annonce :</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="20" placeholder="Tapez votre annonce..."></textarea>
			</div>

			<div class="image-upload">
    			<label for="file-input">
        			<img src="../img/plus.png"/ id="profile-img-tag0">
    			</label>

   		 		<input type="file" name="fileToUpload[]" id="file-input" class="profile-img" />
			</div>
		

			<div class="form-group">
				<label for="formGroupExampleInput">Prix :</label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entrez votre prix">
			</div>
			
			<div class="col-auto my-1">
				<button type="submit" class="btn btn-outline-success">Mise en ligne</button>
			</div>

				<p id="debug">debug</p>
		</form>
		
		<script type="text/javascript">

			var	id = 0;
			
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					var profileImgTag = "#profile-img-tag" + id;
					reader.onload = function (e) { $(profileImgTag).attr('src', e.target.result); }
					reader.readAsDataURL(input.files[0]);
					id++	
				}
			}
			$(".profile-img").change(function(){ readURL(this); });
		</script>
	</div>
{% endblock %}