{% extends "layout.html.twig" %}
{% block css %}
	<link href="../css/formulaireContact.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div id="erreur" class="col-lg-4 col-md-2 col-sm-0">
		     {# {% include 'contact.php' %}  #}
      </div>
      <div id="formContact" class="col-lg-4 col-md-8 col-sm-12">
        <h1>Formulaire De Contact</h1>
        <hr>
       <form method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nom">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="eMail" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="object" placeholder="Votre demande">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="text" rows="3" placeholder="Méssage"></textarea>
          </div>
          <button class="btn btn-default" type="submit" name="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Envoyez
          </button>
        </form>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-0"></div>
    </div>
  </div>
{% endblock %}