{% extends "layout.html.twig" %}

{% block css %}
	<link href="../css/formulaireAnnonce.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
	<h1>Rentrez votre annonce</h1><br>
	<div class="container-fluid" id="Formulaire">
		<form method="post" action="#">
			<form>
				<div class="form-group">
					<label for="formGroupExampleInput">Titre de l'annonce :</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entrez votre titre">
				</div>
				<div class="col-auto my-1">
					<label class="mr-sm-2" for="inlineFormCustomSelect">Catégorie :</label>
					<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
						<option selected>Choisir...</option>
						<option value="1">Bovins</option>
						<option value="2">Equins</option>
						<option value="3">Ovins</option>
						<option value="4">Caprins</option>
						<option value="5">Volailles</option>
						<option value="6">Rongeurs</option>
						<option value="7">Poissons</option>
						<option value="8">Oiseaux</option>
						<option value="9">Félinx</option>
						<option value="10">Canins</option>
						<option value="11">Réptiles</option>
						<option value="12">Autre</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Texte de l'annonce :</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="20" placeholder="Tapez votre annonce..."></textarea>
				</div>
				
				<div class="form-group">
					<label for="formGroupExampleInput">Prix :</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Entrez votre prix">
				</div>
				<div class="col-auto my-1">
					<button type="submit" class="btn btn-primary">Envoyer</button>
				</div>
			</form>
		</div>
	{% endblock %}