{% extends "layout.html.twig" %}

{% block body %}
  {% if errors is defined  %}
    {% for error in errors %}
      <p>{{error}} </p>
    {% endfor %}
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <h1>Formulaire d'inscription</h1><br>
          <form id="needs-validation" novalidate method="post" action="{{ path('inscription') }}">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01" name="firstname">Prénom</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Votre prénom" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02" name="lastname">Nom</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Votre nom" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomUsername" name="email">Adresse Mail</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                  </div>
                  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Votre adresse email" aria-describedby="inputGroupPrepend" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Adresse postale</label>
              <input type="text" class="form-control" id="formGroupExampleInput" name="adress" placeholder="Votre adresse">
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom03">Ville</label>
                <input type="text" class="form-control" id="validationCustom03" name="city" placeholder="Votre ville" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom05">Code postal</label>
                <input type="text" class="form-control" id="validationCustom05" placeholder="Votre code postal" name="zip" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom04">N° de Siren</label>
                <input type="text" class="form-control" id="validationCustom04" placeholder="Votre N° de Siren" name="siren" required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-6">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Entrez un mot de passe">
              </div>
              <div class="col-md-6 mb-6">
                <label for="exampleInputPassword1">Confirmez votre mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="confPassword" placeholder="Veuillez Confirmer">
              </div>
              </div><br>             
              <button class="btn btn-primary" type="submit">Envoyer</button>   
            </form>          
        </div>
      </div>
    </div>
  {% endblock %}