{% extends "layout.html.twig" %}

{% block body %}

{% if errors is defined  %}
  {% for error in errors %}
    <p>{{error}} </p>
  {% endfor %} 
{% endif %}
  
	<form method="post" action="{{ path('inscription') }}">
    Nom<input name="lastname" type="text"><br>
    Prénom<input name="firstname" type="text"><br>
    Adresse postal<input name="adress" type="text"><br>
    Code postal<input name="zip" type="text"><br>
    Ville<input name="city" type="text"><br>
    N° Siren<input name="siren" type="text"><br>
    Adresse mail<input name="email" type="text"><br>
    Mot de passe<input name="password" type="password"><br>
    Confirmer mot de passe<input name="confPassword" type="password"><br>
    <input type="submit">
  </form>

	<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

