{% block css %}
	<link href="../css/nav.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}
<nav class="navbar navbar-expand-lg navbar-light perso">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="navbar-brand" href="{{ path('homepage') }}">Accueil</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link propos" href="#">Annonces<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('AproposDeNous') }}">A propos de nous</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" method="post"  action="{{ path('inscription') }}">
			<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
			Inscription
			</button>
		</form>
		<form class="form-inline my-2 my-lg-0" method="get"  action="{{ path('login') }}">
			<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
			Connexion professionnels
			</button>
		</form>
	</div>
</nav>