{% extends "layout.html.twig" %}

{% block css %}
  <link href="../css/Parallax.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %} <script src="../js/parallax.js" type="text/javascript"></script>{% endblock %}   

{% block body %}

 <div class="parallax bgimg1">
  <div class="heading">
    <span class="title">Qui Sommes-Nous</span></div>
</div>

<div class="text">
  <p>Nous Sommes 5 développeur originaire de basse normandie et nous débutons dans le monde du développement web.</p>
</div>

<div class="parallax bgimg2">
  <div class="heading">
    <span class="title">Le Site</span></div>
</div>

<div class="text">
  <p>Nous avons créé le site "Le Bon Eleveur" pour que des professionnels de l'élevage et des particuliers de la France soient mis en relation pour vendre et acheter tous types d'animaux.</p>
</div>

<div class="parallax bgimg3">
  <div class="heading">
    <span class="title">La sécurité du site</span></div>
</div>

<div class="text">
  <p>Le suivi et la sécurité sont l'un des points les plus fondamentaux de notre site. En effet, en 2016 les Français ont perdu plus 4.5 milliards d'Euros en achetant sur des sites, ou des annonces frauduleuses. De plus,nous nous engageons à vous fournir un site de vente sécurisée et fonctionnel.</p>
</div>

<div class="parallax bgimg4">
  <div class="heading">
    <span class="title">Assistance web</span></div>
</div>

<div class="text">
  <p>Notre équipe de développeurs et en perpétuelle évolution pour dynamiser le site "Le Bon Eleveur" qui vie, au jour le jour.</p>
</div>
 
 <div class="parallax bgimg5">
 </div>
 

  {# <div class="container">

    <section>
      <div class="image" data-type="background"></div>
      <div class="stuff" data-type="content"><h1 id="grostitre">A propos De Nous:</h1></div>
    </section>

    <section>
      <div class="image" data-type="background"></div>
      <div class="stuff" data-type="content">
        <h2 id="titre">Qui Sommes-Nous:</h2>
<<<<<<< Updated upstream
        <p></p>
=======
        <p>Nous Sommes 5 développeur originaire de basse normandie et nous débutons dans le monde de développement web.</p>
>>>>>>> Stashed changes
      </div>
    </section>

    <section>
      <div class="image" data-type="background"></div>
      <div class="stuff" data-type="content">
        <h3 id="titre">Le Site:</h3>
<<<<<<< Updated upstream
        <p></p>
=======
        <p>Nous avons créé le site du Bon éleveur pour que les professionnels et particuliers de la France soient mis en relation pour vendre et acheter tous type d'animaux confondu.</p>
>>>>>>> Stashed changes
      </div>
    </section>

    <section>
      <div class="image" data-type="background"></div>
      <div class="stuff" data-type="content">
<<<<<<< Updated upstream
        <h4 id="titre">La sécurité du site:</h4>
        <p></p>
=======
        <h4 id="titre">La sécurite du site:</h4>
        <p>Le suivi et la sécurité sont l'un des points les plus fondamentaux de notre site. En effet ,en 2016 les Français ont perdu plus 4.5 milliards d'Euros en achetant sur des sites ou des annonces frauduleuses. De plus,nous nous engageons à vous fournir un site de vente sécurisée est fonctionnel.</p>
>>>>>>> Stashed changes
      </div>
    </section>

    <section>
      <div class="image" data-type="background"></div>
      <div class="stuff" data-type="content">
        <h4 id="titre">Assistance web</h4>
<<<<<<< Updated upstream
        <p></p>
=======
        <p>Notre équipe de développeurs et en perpétuelle évolution pour dynamiser le site du Bon éleveur qui vie, au jour le jour.</p>
>>>>>>> Stashed changes
      </div>
    </section>
  </div> #}
{% endblock %}