{% extends "layout.html.twig" %}

{% block css %}
  <link href="../css/Parallax.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
  <div class="container">
    <section>
      <div class="image" data-type="background" data-speed="2"></div>
      <div class="stuff" data-type="content"><h1>A propos De Nous</h1></div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="7"></div>
      <div class="stuff" data-type="content"><h2>Qui Sommes-Nous</b><p>Nous Sommes 5 développeur originaire de basse normandie et nous débutons dans le monde de développement web.</p></div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="6"></div>
      <div class="stuff" data-type="content"><h2>Le Site</h2>Nous avons créé le site du Bon éleveur pour que les professionnels et particuliers de la France soient mis en relation pour vendre et acheter tous type d'animaux confondu.<securite></securite>.</div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="5"></div>
      <div class="stuff" data-type="content"><h3>La sécurite du site</h3>Le suivi et la sécurité sont l'un des points les plus fondamentaux de notre site.
      En effet ,en 2016 les Français ont perdu plus 4.5 milliards d'Euros en achetant sur des sites ou des annonces frauduleuses.
      De plus,nous nous engageons à vous fournir un site de vente sécurisée est fonctionnel.</div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="3"></div>
      <div class="stuff" data-type="content"><h4>Assistance web</h4>Notre équipe de développeurs et en perpétuelle évolution pour dynamiser le site du Bon éleveur au jour le jour.</div>
    </section>
  </div>
   
{% endblock %}