{% extends "layout.html.twig" %}

{% block css %}
  <link href="../css/Parallax.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
  <div class="container">
    <section>
      <div class="image" data-type="background" data-speed="2"></div>
      <div class="stuff" data-type="content"><h1>Simple Parallax scroll</h1><h2>Reoptimized</h2></div>
      <div class="stuff" data-type="content"><h1>A propos De Nous</h1></div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="7"></div>
      <div class="stuff" data-type="content"><h2>Made to be fast</h2><p>Lorem Deserunt maiores minima ipsa. Adipisci, corrupti, voluptatibus! Similique quidem necessitatibus provident.</p></div>
      <div class="stuff" data-type="content"><h2>Qui Sommes-Nous</b><p>Nous Sommes 5 développeur originaire de basse normandie et nous débutons dans le monde de développement web.</p></div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="6"></div>
      <div class="stuff" data-type="content">Accusamus at ex amet perferendis atque fuga, ad earum, ipsa perspiciatis, dolore neque, accusantium consectetur quis voluptatibus culpa architecto animi natus facere expedita sed. Voluptatem odit explicabo amet neque aut.</div>
      <div class="stuff" data-type="content"><h2>Le Site</h2>Nous avons créé le site du Bon éleveur pour que les professionnels et particuliers de la France soient mis en relation pour vendre et acheter tous type d'animaux confondu.<securite></securite>.</div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="5"></div>
      <div class="stuff" data-type="content">Accusamus at ex amet perferendis atque fuga, ad earum, ipsa perspiciatis, dolore neque, accusantium consectetur quis voluptatibus culpa architecto animi natus facere expedita sed. Voluptatem odit explicabo amet neque aut.</div>
      <div class="stuff" data-type="content"><h3>La sécurite du site</h3>Le suivi et la sécurité sont l'un des points les plus fondamentaux de notre site.
      En effet ,en 2016 les Français ont perdu plus 4.5 milliards d'Euros en achetant sur des sites ou des annonces frauduleuses.
      De plus,nous nous engageons à vous fournir un site de vente sécurisée est fonctionnel.</div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="3"></div>
      <div class="stuff" data-type="content">Accusamus at ex amet perferendis atque fuga, ad earum, ipsa perspiciatis, dolore neque, accusantium consectetur quis voluptatibus culpa architecto animi natus facere expedita sed. Voluptatem odit explicabo amet neque aut.</div>
    </section>
    <section>
      <div class="image" data-type="background" data-speed="3"></div>
      <div class="stuff" data-type="content">Accusamus at ex amet perferendis atque fuga, ad earum, ipsa perspiciatis, dolore neque, accusantium consectetur quis voluptatibus culpa architecto animi natus facere expedita sed. Voluptatem odit explicabo amet neque aut.</div>
      <div class="stuff" data-type="content"><h4>Assistance web</h4>Notre équipe de développeurs et en perpétuelle évolution pour dynamiser le site du Bon éleveur au jour le jour.</div>
    </section>

  </div>
  <div class="dcw"><a href="https://www.w3schools.com/" target="_blank">Voulez-vous apprendre à coder ?</a><br>  
  <a href="http://www.wf3.fr/" target="_blank">dcw@2017-2018</a>
  </div>  
{% endblock %}