{% extends "layout.html.twig" %}

{% block css %}
  <link href="../css/Parallax.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %} <script src="../js/parallax.js" type="text/javascript"></script>{% endblock %}   

{% block body %}
  <div class="container">

    <section>
      <div class="image" data-type="background" data-speed="2"></div>
      <div class="stuff" data-type="content"><h1 id="grostitre">A propos De Nous:</h1></div>
    </section>

    <section>
      <div class="image" data-type="background" data-speed="7"></div>
      <div class="stuff" data-type="content">
        <h2 id="titre">Qui Sommes-Nous:</h2>
        <p>Nous Sommes 5 développeur originaire de basse normandie et nous débutons dans le monde du développement web.</p>
      </div>
    </section>

    <section>
      <div class="image" data-type="background" data-speed="6"></div>
      <div class="stuff" data-type="content">
        <h3 id="titre">Le Site:</h3>
        <p>Nous avons créé le site "Le Bon Eleveur" pour que des professionnels de l'élevage et des particuliers de la France soient mis en relation pour vendre et acheter tous types d'animaux.</p>
      </div>
    </section>

    <section>
      <div class="image" data-type="background" data-speed="5"></div>
      <div class="stuff" data-type="content">
        <h4 id="titre">La sécurité du site:</h4>
        <p>Le suivi et la sécurité sont l'un des points les plus fondamentaux de notre site. En effet, en 2016 les Français ont perdu plus 4.5 milliards d'Euros en achetant sur des sites, ou des annonces frauduleuses. De plus,nous nous engageons à vous fournir un site de vente sécurisée et fonctionnel.</p>
      </div>
    </section>

    <section>
      <div class="image" data-type="background" data-speed="3"></div>
      <div class="stuff" data-type="content">
        <h4 id="titre">Assistance web</h4>
        <p>Notre équipe de développeurs et en perpétuelle évolution pour dynamiser le site "Le Bon Eleveur" qui vie, au jour le jour.</p>
      </div>
    </section>
  </div>
{% endblock %}